.home-bg
    cover-img: url('/img/bg/chatting.png')

.custom-bg
    custom-stretch-img: 0.7

.lobby-bg
    cover-img: url('/img/bg/jackedin.png')
.welcome-bg
    cover-img: url('/img/bg/welcome.png')

.deckbuilder-bg
    cover-img: url('/img/bg/deck.builder.png')

.cardbrowser-bg
    cover-img: url('/img/bg/Apex.jpg')

.help-bg
    cover-img: url('/img/bg/help.png')

.about-bg
    cover-img: url('/img/bg/about.png')

.account-bg
    cover-img: url('/img/bg/settings.png')

.reset-bg
    cover-img: url('/img/bg/Logos.jpg')

.stats-bg
    cover-img: url('/img/bg/stats.png')

.traffic-jam-bg
    cover-img: url('/img/bg/TrafficJam.jpg')

.rumor-mill-bg
    cover-img: url('/img/bg/RumorMill.jpg')

.find-the-truth-bg
    cover-img: url('/img/bg/FindTheTruth.jpg')

.push-your-luck-bg
    cover-img: url('/img/bg/PushYourLuck.jpg')

.apex-bg
    cover-img: url('/img/bg/Apex.jpg')

.mushin-no-shin-bg
    cover-img: url('/img/bg/MushinNoShin.jpg')

.freelancer-bg
    cover-img: url('/img/bg/Freelancer.jpg')

.worlds2020
    cover-img: url('/img/bg/Worlds2020.jpg')

.the-root-bg
    cover-img: url('/img/bg/TheRoot.jpg')

.jackedin-bg
   cover-img: url('/img/bg/jackedin.png')

.monochrome-bg
    cover-color: gray-dark
